name: CI

on:
  push:
    branches: [main, master, develop]
  pull_request:

permissions:
  contents: read

jobs:
  ruff:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up uv
        uses: astral-sh/setup-uv@v3
        with:
          python-version: "3.11"
          enable-cache: true

      - name: Install deps (locked)
        run: uv sync --dev --frozen

      - name: Ruff format check
        run: uv run ruff format --check backend

      - name: Ruff lint
        run: uv run ruff check backend


  tests:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: test_db
        ports:
          - 5433:5432
        options: >-
          --health-cmd="pg_isready -U postgres"
          --health-interval=5s
          --health-timeout=5s
          --health-retries=10

      redis:
        image: redis:7-alpine
        ports:
          - 6379:6379
        options: >-
          --health-cmd="redis-cli ping"
          --health-interval=5s
          --health-timeout=5s
          --health-retries=10

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up uv
        uses: astral-sh/setup-uv@v3
        with:
          python-version: "3.11"
          enable-cache: true

      - name: Install deps (locked)
        run: uv sync --dev --frozen

      - name: Run tests
        working-directory: backend
        env:
          TEST_DATABASE_URL: postgresql+asyncpg://postgres:postgres@localhost:5433/test_db
          DATABASE_URL: postgresql+asyncpg://postgres:postgres@localhost:5433/test_db
          SECRET_KEY: test
          ALGORITHM: HS256
          ACCESS_TOKEN_EXPIRE_MINUTES: "15"
          REFRESH_TOKEN_EXPIRE_DAYS: "7"
          REDIS_URL: redis://localhost:6379/0
          REDIS_PRICES_CHANNEL: prices
        run: uv run pytest -q